<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Post Detail | Simple Blog</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body class="bg-light text-body-secondary" id="top">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm" aria-label="Offcanvas navbar large">
        <div class="container-md col-lg-9">
            <a class="navbar-brand brand-name fw-semibold" href="#!"> G-blog </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasNavbar2"
                aria-labelledby="offcanvasNavbar2Label" style="width: 270px">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
                        <a class="navbar-brand brand-name" href="#!"> G-blog </a>
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 small">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Page content-->
    <div class="container-md col-lg-9 my-4">
        <div class="row">
            <!-- Side widget 1 -->
            <div class="col-lg-2 d-none d-lg-block share">
                <div class="position-sticky" style="top: 4.7rem">
                    <div class="text-end fs-5 mb-3">
                        <a class="share-link text-body-secondary p-1 d-none to-top" href="#top"><i
                                class="bi bi-arrow-up-circle"></i></a>
                    </div>
                    <div class="text-end fs-5 mb-2">
                        <a class="share-link text-body-secondary p-1" href="#"><i class="bi bi-facebook"></i></a>
                    </div>
                    <div class="text-end fs-5 mb-2">
                        <a class="share-link text-body-secondary p-1" href="#"><i class="bi bi-twitter"></i></a>
                    </div>
                    <div class="text-end fs-5 mb-2">
                        <a class="share-link text-body-secondary p-1" href="#"><i class="bi bi-telegram"></i></a>
                    </div>
                    <div class="text-end fs-5 mb-2">
                        <a class="share-link text-body-secondary p-1" href="#"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="col-lg-7 px-lg-3">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post category -->
                        <span class="bg-body-secondary small rounded-4 px-2 py-1">Category</span>
                        <!-- Post title-->
                        <h1 class="fs-1 fw-bold mt-3">Ini Contoh Judul Postingan Blog Pertama yang Bagus</h1>
                        <!-- Post meta content-->
                        <div class="small">Posted by <a href="#" class="text-dark text-decoration-none">Umam
                                Alfarizi</a> on Ahad, 1 Januari 2024</div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded"
                            src="https://dummyimage.com/900x500/ced4da/6c757d.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-4">
                        <p class="mb-4">Science is an enterprise that should be cherished as an activity of the free
                            human mind. Because it transforms who we are, how we live, and it gives us an understanding
                            of our place in the universe.</p>
                        <p class="mb-4">
                            The universe is large and old, and the ingredients for life as we know it are everywhere, so
                            there's no reason to think that Earth would be unique in that regard. Whether of not the
                            life became intelligent is a different
                            question, and we'll see if we find that.
                        </p>
                        <p class="mb-4">
                            If you get asteroids about a kilometer in size, those are large enough and carry enough
                            energy into our system to disrupt transportation, communication, the food chains, and that
                            can be a really bad day on Earth.
                        </p>
                        <p class="mb-4">
                            If you get asteroids about a kilometer in size, those are large enough and carry enough
                            energy into our system to disrupt transportation, communication, the food chains, and that
                            can be a really bad day on Earth.
                        </p>
                        <p class="mb-4">
                            If you get asteroids about a kilometer in size, those are large enough and carry enough
                            energy into our system to disrupt transportation, communication, the food chains, and that
                            can be a really bad day on Earth.
                        </p>
                        <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                        <p class="mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts
                            every day and I realized I could hold them to myself or share them with people who might be
                            interested.</p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                        <p class="mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts
                            every day and I realized I could hold them to myself or share them with people who might be
                            interested.</p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                        <p>
                            Venus has a runaway greenhouse effect. I kind of want to know what happened there because
                            we're twirling knobs here on Earth without knowing the consequences of it. Mars once had
                            running water. It's bone dry today. Something
                            bad happened there as well.
                        </p>
                    </section>
                    <section class="tags">
                        <i class="bi bi-tags"></i>
                        <span class="me-2">Tags:</span>
                        <a href=""
                            class="tag-link badge bg-body-secondary text-body-secondary text-decoration-none rounded-4 px-3 py-2">#Tips</a>
                        <a href=""
                            class="tag-link badge bg-body-secondary text-body-secondary text-decoration-none rounded-4 px-3 py-2">#Trik</a>
                    </section>
                </article>

                <!-- Share -->
                <section class="d-lg-none mt-5">
                    <div class="text-center mb-3">Share to :</div>
                    <div class="text-center">
                        <span class="bg-white py-2 px-1 fs-5 rounded-4 shadow-sm text-body-secondary border">
                            <a class="share-link text-body-secondary p-2 mx-2" href="#"><i
                                    class="bi bi-facebook"></i></a>
                            <a class="share-link text-body-secondary p-2 mx-2" href="#"><i
                                    class="bi bi-twitter"></i></a>
                            <a class="share-link text-body-secondary p-2 mx-2" href="#"><i
                                    class="bi bi-telegram"></i></a>
                            <a class="share-link text-body-secondary p-2 mx-2" href="#"><i
                                    class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </section>

                <!-- Pagination -->
                <div class="row mt-5">
                    <nav aria-label="Page navigation">
                        <div class="text-center mb-2">Go to :</div>
                        <ul class="pagination justify-content-center align-items-center">
                            <li class="page-item">
                                <a class="page-link rounded-start-4 shadow-sm text-body-secondary px-4 py-2"
                                    href="#">Prev post</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-end-4 shadow-sm text-body-secondary px-4 py-2" href="#">Next
                                    post</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Side widget 2-->
            <div class="col-lg-3"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
